.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  font-size: 32px;
  color: var(--input-text);
  font-weight: 600;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.team-expositors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: space-around;
}