.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0;
  opacity: 1;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  overflow: hidden; 
}

.formulario.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.formulario form {
  color: var(--text-color);
  max-width: 80%;
  background-color: var(--form-bg);
  padding: 36px 64px;
  box-shadow: var(--input-shadow);
}

.form-client-image {
  width: auto;
  height: auto;
}

.form-client-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 16px;
}